

  .formContainer  {
        max-width: 100%;

        background: #1d323d;
      }
  
  form1 {
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
  
  h2 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(121, 56, 128);
  }

    
  h3 {
    font-weight: 100;
    color: white;
    text-align: center;
  }

  h4 {
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
    font-size: medium;
    color: white;
  }

  h5 {
    font-weight: 100;
    text-align: left;
    padding-bottom: 15px;
    font-size: medium;
    color: white;
    margin-right: 80px;
  }

  h6 {
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
    font-size: x-large;
  }

 .h8 {
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  .h9 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    font-size: large;

  }



 sImage {
    display: block;
    font-weight: 100;
    color: white;
    text-align: right;
  }
  
  .form {
    background: #1d323d;
    max-width: 40000px;
    margin: 0 auto;
  }
  

  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  input[type="submit1"] {
    background: #6d5078;
    color: white;
    /*text-transform: uppercase;*/
    border: none;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
  }
  
  input[type="submit1"]:hover {
    background: #6d5078;
    cursor: pointer;
  }
  
  input[type="button"]:active,
  input[type="submit1"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  input[type="button"],
  input[type="submit1"] {
    -webkit-appearance: none;
  }
  

  
 
  